#workflow-job-structure {
  line-height: .7; /* Sets line height to single spacing */
  background-color: var(--md-code-bg-color);
  margin-block: 1em;
}
#workflow-tree {
  line-height: .7; /* Sets line height to single spacing */
  background-color: var(--md-code-bg-color);
  margin-block: 1em;
  margin-left: 2em;
}

/* GitHub admonition icon and coloring */
:root {
  --md-admonition-icon--github-mark: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 1C5.923 1 1 5.923 1 12c0 4.867 3.149 8.979 7.521 10.436.55.096.756-.233.756-.522 0-.262-.013-1.128-.013-2.049-2.764.509-3.479-.674-3.699-1.292-.124-.317-.66-1.293-1.127-1.554-.385-.207-.936-.715-.014-.729.866-.014 1.485.797 1.691 1.128.99 1.663 2.571 1.196 3.204.907.096-.715.385-1.196.701-1.471-2.448-.275-5.005-1.224-5.005-5.432 0-1.196.426-2.186 1.128-2.956-.111-.275-.496-1.402.11-2.915 0 0 .921-.288 3.024 1.128a10.2 10.2 0 0 1 2.75-.371c.936 0 1.871.123 2.75.371 2.104-1.43 3.025-1.128 3.025-1.128.605 1.513.221 2.64.111 2.915.701.77 1.127 1.747 1.127 2.956 0 4.222-2.571 5.157-5.019 5.432.399.344.743 1.004.743 2.035 0 1.471-.014 2.654-.014 3.025 0 .289.206.632.756.522C19.851 20.979 23 16.854 23 12c0-6.077-4.922-11-11-11"/></svg>')
}
.md-typeset .admonition.github-reference,
.md-typeset details.github-reference {
  border-color: #7c4dff;
}
.md-typeset .github-reference > .admonition-title,
.md-typeset .github-reference > summary {
  background-color: #7c4dff1a;
}
.md-typeset .github-reference > .admonition-title::before,
.md-typeset .github-reference > summary::before {
  background-color:  #7c4dff;
  -webkit-mask-image: var(--md-admonition-icon--github-mark);
          mask-image: var(--md-admonition-icon--github-mark);
}

/* GitLab admonition icon and coloring */
:root {
  --md-admonition-icon--gitlab-mark: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64C28.7 32 0 60.7 0 96zm337.5 12.5l44.6 116.4 .4 1.2c5.6 16.8 7.2 35.2 2.3 52.5c-5 17.2-15.4 32.4-29.8 43.3l-.2 .1-68.4 51.2-54.1 40.9c-.5 .2-1.1 .5-1.7 .8c-2 1-4.4 2-6.7 2c-3 0-6.8-1.8-8.3-2.8l-54.2-40.9L93.5 322.3l-.4-.3-.2-.1c-14.3-10.8-24.8-26-29.7-43.3s-4.2-35.7 2.2-52.5l.5-1.2 44.7-116.4c.9-2.3 2.5-4.3 4.5-5.6c1.6-1 3.4-1.6 5.2-1.8c1.3-.7 2.1-.4 3.4 .1c.6 .2 1.2 .5 2 .7c1 .4 1.6 .9 2.4 1.5c.6 .4 1.2 1 2.1 1.5c1.2 1.4 2.2 3 2.7 4.8l29.2 92.2H285l30.2-92.2c.5-1.8 1.4-3.4 2.6-4.8s2.8-2.4 4.5-3.1c1.7-.6 3.6-.9 5.4-.7s3.6 .8 5.2 1.8c2 1.3 3.7 3.3 4.6 5.6z"/></svg>')
}
.md-typeset .admonition.gitlab-reference,
.md-typeset details.gitlab-reference {
  border-color: #fc6d26;
}
.md-typeset .gitlab-reference > .admonition-title,
.md-typeset .gitlab-reference > summary {
  background-color: #fc6d261a;
}
.md-typeset .gitlab-reference > .admonition-title::before,
.md-typeset .gitlab-reference > summary::before {
  background-color:  #fc6d26;
  -webkit-mask-image: var(--md-admonition-icon--gitlab-mark);
          mask-image: var(--md-admonition-icon--gitlab-mark);
}

/* Docker admonition icon and coloring */
:root {
  --md-admonition-icon--docker-mark: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M349.9 236.3h-66.1v-59.4h66.1v59.4zm0-204.3h-66.1v60.7h66.1V32zm78.2 144.8H362v59.4h66.1v-59.4zm-156.3-72.1h-66.1v60.1h66.1v-60.1zm78.1 0h-66.1v60.1h66.1v-60.1zm276.8 100c-14.4-9.7-47.6-13.2-73.1-8.4-3.3-24-16.7-44.9-41.1-63.7l-14-9.3-9.3 14c-18.4 27.8-23.4 73.6-3.7 103.8-8.7 4.7-25.8 11.1-48.4 10.7H2.4c-8.7 50.8 5.8 116.8 44 162.1 37.1 43.9 92.7 66.2 165.4 66.2 157.4 0 273.9-72.5 328.4-204.2 21.4 .4 67.6 .1 91.3-45.2 1.5-2.5 6.6-13.2 8.5-17.1l-13.3-8.9zm-511.1-27.9h-66v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm78.1 0h-66.1v59.4h66.1v-59.4zm-78.1-72.1h-66.1v60.1h66.1v-60.1z"/></svg>')
}
.md-typeset .admonition.docker-reference,
.md-typeset details.docker-reference {
  border-color: #0db7ed;
}
.md-typeset .docker-reference > .admonition-title,
.md-typeset .docker-reference > summary {
  background-color: #0db7ed1a;
}
.md-typeset .docker-reference > .admonition-title::before,
.md-typeset .docker-reference > summary::before {
  background-color:  #0db7ed;
  /* background-color:  #ffffff; */
  -webkit-mask-image: var(--md-admonition-icon--docker-mark);
          mask-image: var(--md-admonition-icon--docker-mark);
}
